<html>

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="css/week-view.css">
</head>

<body>
    <!--display days on the top-->
    <div class="content">
        <div class="days">
            <% let currentDate=new Date();
    currentDate.setDate(currentDate.getDate());//add here for changing day
        %>        
    <%
    for(let i=6;i>=0;i--){
        let newDate=new Date();
        newDate.setDate(currentDate.getDate()-i);
    %>
            <!--each day-->
            <div class="day">
                <%=newDate.toString().substring(0,3)%><br>
            </div>
            <%}
    %>
        </div>
        <%for(habit of habits){%>
        <div class="habit">
            <!--title of habit-->
            <div class="title">
                <%=habit.title%>
            </div>
            <div class="dates">
                <%
        for(let i=6;i>=0;i--){
            let newDate=new Date();
            let flag=true;
            newDate.setDate(currentDate.getDate()-i);
            for(detail of habit.details){
            if(detail.date==newDate.toDateString()){
                flag=false;
                %>
                <!--status of the habit each day-->
                <div class="date">
                    <div class="status-date">
                        <div><%=detail.status%></div>
                        <div><%=newDate.getDate()%></div>
                    </div>
                    <div class="status-list">
                        <a href="edit-status?id=<%=habit._id%>&did=<%=detail._id%>&status=NONE" title="Mark None"><i
                                class="fas fa-times-circle"></i></a>
                        <a href="edit-status?id=<%=habit._id%>&did=<%=detail._id%>&status=NOT-DONE"
                            title="Mark Not done"><i class="fas fa-star-half"></i></a>
                        <a href="edit-status?id=<%=habit._id%>&did=<%=detail._id%>&status=DONE" title="Mark Done"><i
                                class="fas fa-check-circle"></i></a>
                    </div>
                </div>
                <%
            }
            }
            if(flag){
                %>
                <div class="date">
                    <div class="status-date">
                        <div>NO STATUS</div>
                        <div><%=newDate.getDate()%></div>
                    </div>
                    <div class="status-list">
                        <a href="add-task?id=<%=habit._id%>&date=<%=newDate.toDateString()%>&status=NONE"
                            title="Mark None"><i class="fas fa-times-circle"></i></a>
                        <a href="add-task?id=<%=habit._id%>&date=<%=newDate.toDateString()%>&status=NOT-DONE"
                            title="Mark Not Done"><i class="fas fa-star-half"></i></a>
                        <a href="add-task?id=<%=habit._id%>&date=<%=newDate.toDateString()%>&status=DONE"
                            title="Mark Done"><i class="fas fa-star"></i></a>
                    </div>
                </div>
                <%
            }      
        }%>
            </div>

        </div><%
    }%>
        <div class="home-button"><a href="home">Home</a></div>
    </div>
</body>

</html>